<div class="header pb-6">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>

<div class="container-fluid mt--6">

  <div class="row">
    <div class="col">
      <div class="card">
        <div class="card-header bg-secondary">
        </div>
        <div class="dataTables_wrapper py-4">
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="dataTables_length" id="datatable_length">
                <label>
                  Show
                  <select
                    name="datatable_length"
                    aria-controls="datatable"
                    class="form-control form-control-sm"
                    (change)="entriesChange($event)"
                  >
                    <option value="5">5</option>
                    <option value="10">10</option>
                    <option value="15">15</option>
                    <option value="-1">All</option>
                  </select>
                  records
                </label>
              </div>
            </div>
          </div>

          <ngx-datatable
            class="bootstrap selection-cell"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [limit]="tableEntries != -1 ? tableEntries : undefined"
            [rows]="listData"
            (activate)="onActivate($event)"
          >
            <ngx-datatable-column name="No">
              <ng-template
                let-rowIndex="rowIndex"
                let-row="row"
                ngx-datatable-cell-template
              >
                <strong>{{ rowIndex + 1 }}</strong>
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>Username</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.id }}
              </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span>User ID</span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                {{ row.name }}
              </ng-template>
            </ngx-datatable-column>
            <ngx-datatable-column>
              <ng-template ngx-datatable-header-template>
                <span></span>
              </ng-template>
              <ng-template let-row="row" ngx-datatable-cell-template>
                <a (click)="openModal(editModal, row)" style="cursor: pointer;">
                  <button class="btn btn-default btn-sm">
                   Edit
                  </button> </a
                >&nbsp;
                <button class="btn btn-danger btn-sm">
                  Delete
                 </button>
              </ng-template>
            </ngx-datatable-column>
          </ngx-datatable>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #addModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Incoming & Registering sub-module</label>
          <input
            class="form-control"
            placeholder="Enter Text"
            type="text"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Supplying Company & Personnel Name</label>
          <input
            class="form-control"
            placeholder="Enter Name"
            type="text"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Receiving Highway & Staff Name</label>
          <input
            class="form-control"
            placeholder="Enter Name"
            type="text"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Quantity Of Part</label>
          <input
            class="form-control"
            placeholder="Enter Quantity"
            type="number" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Batch Number</label>
          <input
            class="form-control"
            placeholder="Enter Batch Number"
            type="text" />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Asset Type</label>
          <select class="form-control">
            <option>Micro Pile</option>
            <option>Bore Pile</option>
            <option>Crosshead</option>
            <option>Beam</option>
            <option>Parapet</option>
            <option>Caisson Pile</option>
            <option>Pile Cap</option>
          </select>
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('add new spare part')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>

<ng-template #editModal>
  <div class="modal-header bg-default">
    <h6 class="modal-title text-white my-auto" id="modal-title-default">
      Edit Spare Part
    </h6>

    <button
      aria-label="Close"
      class="close"
      data-dismiss="modal"
      type="button"
      (click)="closeModal()"
    >
      <span aria-hidden="true" class="text-white my-auto"> × </span>
    </button>
  </div>

  <div class="modal-body">
    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">Username</label>
          <input
            class="form-control"
            placeholder="Enter Text"
            type="text"
          />
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="form-control-label">User ID</label>
          <input
            class="form-control"
            placeholder="Enter Name"
            type="text"
          />
        </div>
      </div>
    </div>
  </div>

  <div class="modal-footer">
    <div class="text-center">
      <button class="btn btn-default" (click)="successAlert('edit alert')">
        Save
      </button>
      <button
        class="btn btn-outline-danger ml-auto"
        data-dismiss="modal"
        type="button"
        (click)="closeModal()"
      >
        Close
      </button>
    </div>
  </div>
</ng-template>
